.loading {
    background-color: #000000;
    background-image: url('../../assets/images/loading.gif');
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}