.footer {
    background-color: #282828;
    text-align: center;
    padding: 20px 0;
    left: 0px;
    bottom: 0px;
    width: 100%;
}

.footer_list {
    width: 100%;
    max-width: 360px;
    background-color: #fff;
}